.mainTable {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid red;

    th:nth-child(1), th:nth-child(2) {
        width: 10%;
        text-align: center;
        border: 1px solid blanchedalmond;
    }

    th {
        text-align: center;
        border: 1px solid blanchedalmond;
    }
}

.table-wrapper {
    display: flex;
    flex-direction: column;
}